# To ignore

# PROD <-> DEV
ozone_v4/config/settings.py
docker-compose.yml
.env.dev

# Django #
*.log
*.pot
*.pyc
__pycache__
media

# Ozone_db_states
db_backups
db_data_ozone

# Coverage
htmlcov
.coverage

# Certificates
certs

# Environments 
.env
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

# If you are using PyCharm #
.idea

# Visual Studio Code # 
.vscode


