{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

    <main id="main">

        <section id="blog" class="news blog">
            <div class="container">
                <div class="section-title">
                    <h2>{% trans 'Научные труды' %}</h2>
                </div>

                <blockquote class="annual-blockquote col-lg-12 col-sm-12 mb-5" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                    <p class="annual-text">
                        {% trans 'Мониторинг озонового слоя представляет собой систему наблюдений за состоянием озонового слоя, а также оценку и прогнозирование его изменений в целях своевременного выявления негативных воздействий природных и антропогенных факторов. Ежегодные отчеты по мониторингу озонового слоя:' %}

                        &nbsp

                        {% for report in annual_reports %}
                            <a href="url 'report.report_file.url' ">{{report.year}}</a>
                            &nbsp
                        {% endfor %}
                    </p>
                </blockquote>


                <div class="row d-flex flex-wrap">

                    {% for article_item in page_obj %}
                        <div class="col-lg-6 col-sm-12 mb-5"  data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                            <div class="card align-items-stretch">
                                <div class="card-img card-img_blog">
                                    <img src="{{ article_item.image_logo.url }}" class="" alt="...">
                                </div>
                                <div class="card-body card-body_blog">
                                    <h5 class="card-title"><a href="{{ article_item.id }}">{{ article_item.title }}</a></h5>
                                    <p class="card-text text-center">{{ article_item.subtitle }}</p>
                                    <div class="card-meta d-flex justify-content-between align-items-center">
                                        <div class="date">
                                            <i class="bi bi-clock"></i>
                                            <time>{{ article_item.published }}</time>
                                        </div>
                                        <div class="read-more">
                                            <a href="{{ article_item.id }}">{% trans 'Подробнее' %}</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="blog-pagination">
                    
                    <ul class="justify-content-center">
                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}

                            <li class="active"><a href="?page={{p}}">{{p}}</a></li>

                            {% else %}
                            <li><a href="?page={{p}}">{{p}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <script>

        const pageTitle = document.querySelector('title')
        pageTitle.innerHTML = 'Статьи'

        const activeNavPage = document.querySelectorAll('.navbar-list>li>a')[1]
        activeNavPage.classList.add('active')

    </script>

{% endblock %}