{% extends 'base.html' %}
{% load i18n static %}

{% block content %}

    <main id="main">

        <section id="blog" class="news blog">
            <div class="container">
                <div class="section-title">
                    <h2>{% trans 'Новости' %}</h2>
                </div>
                <div class="row d-flex flex-wrap">

                    {% for news_item in page_obj %}
                        <div class="col-lg-6 col-sm-12 mb-5"  data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                            <div class="card  align-items-stretch">
                                <div class="card-img card-img_blog">
                                    <img src="{{ news_item.image_logo.url }}" class="" alt="...">
                                </div>
                                <div class="card-body card-body_blog">
                                    <h5 class="card-title"><a href="{{ news_item.id }}">{{ news_item.title }}</a></h5>
                                    <p class="card-text text-center">{{ news_item.subtitle }}</p>
                                    <div class="card-meta d-flex justify-content-between align-items-center">
                                        <div class="date">
                                            <i class="bi bi-clock"></i>
                                            <time>{{ news_item.published }}</time>
                                        </div>
                                        <div class="news-tag">
                                            <p class="mb-0">#{% trans news_item.get_tag_display %}</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="{{ news_item.id }}">{% trans 'Подробнее' %}</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                
                <div class="blog-pagination">
                    
                    <ul class="justify-content-center">
                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}

                            <li class="active"><a href="?page={{p}}">{{p}}</a></li>

                            {% else %}
                            <li><a href="?page={{p}}">{{p}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </main>

    <script src="{% static 'js/blog/editDOM.js' %}"></script>

{% endblock %}