
{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
    <!-- ======= Main Section ======= -->
<main id="main">
    <section class="about">
        <div class="container">

            <div class="section-title">
                <h2>{% trans 'Политика использования файлов cookie' %}</h2>
            </div>

            <div class="history__body">
                <div class="history__abstracts">
                    <blockquote class="annual-blockquote">
                        <p class="history__abstract">
                            Cookie представляют собой небольшие файлы, которые сохраняются в вашем интернет-браузере
                            или в операционной системе вашего компьютера (мобильного устройства) при использовании Сайта.
                            Часто cookie содержат информацию о предыдущих посещениях вами сайта. Cookie позволяютсохранить ранее введённые на сайте данные,
                            благодаря чему их не требуется вводить заново при следующем посещении сайта или при переходе между страницами сайта.
                        </p>

                        <p class="history__abstract">
                            Утверждение Положения о политике в отношении обработки персональных данных и cookie
                            является одной из принимаемых ННИЦ МО БГУ мер по защите персональных данных
                            предусмотренных Законом Республики Беларусь от 7 мая 2021 г. № 99-З «О защите персональных данных».
                        </p>

                        <p class="history__abstract">
                            Сайт nomrec.bsu.by использует файлы cookie, необходимые для надлежащего функционировани веб-сайта www.nomrec.bsu.by.
                            <u> Сайт не хранит информации о действиях и сессиях, произведённых пользователями сайта.
                                Согласано Общему регламенту о защите данных (GDPR), файлы cookie, использующиеся на сайте относятся к категории "Строго обязательные"
                                и  не могут быть отменены.</u>
                        </p>
                        <h5>Список используемых куки-файлов:</h5>
                        <ul>
                            <li class="history__abstract">csrf_token - обеспечивает защиту сайта CSRF-атак (Cross-site request forgery)</li>
                            <li class="history__abstract">django_language - на <u>период сессии пользователя (до момента закрытия браузера)</u> хранит информацию о выбранном языке сайта</li>
                            <li class="history__abstract">session_id - используется <u>только для администратора сайта</u> в качестве иденцификации. Хранится только в его браузере</li>
                            <li class="history__abstract">cookies_functional - менеджер управления вышеописанными файлами cookie</li>
                        </ul>

                     </blockquote>
                </div>
            </div>

        </div>
    </section>


</main>

    <script src="{% static 'js/about/editDOM.js' %}"></script>

{% endblock %}

