{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="container h-100 d-flex flex-column justify-content-end align-items-center">
            <div class="d-flex h-75 flex-column justify-content-center align-items-center text-center">
                <div class="col-lg-12">
                    <h1 class="animate__animated animate__fadeInDown animate__fast">
                        {% trans 'УЧРЕЖДЕНИЕ БЕЛОРУССКОГО ГОСУДАРСТВЕННОГО УНИВЕРСИТЕТА НАЦИОНАЛЬНЫЙ НАУЧНО-ИССЛЕДОВАТЕЛЬСКИЙ ЦЕНТР МОНИТОРИНГА ОЗОНОСФЕРЫ' %}
                    </h1>
                </div>
                <div class="col-lg-12 mb-5">
                    <p class="b-page-subtitle animate__animated animate__fadeInDown animate__fast" >
                        {% trans 'ННИЦ МО БГУ' %}
                    </p>
                </div>
                <div class="col-lg-1 flex-grow-1 d-flex justify-content-center align-items-end">
                    <div class="b-arrow">
                        <a class="b-arrow-link" href="#main">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======= Main Section ======= -->
    <main id="main" class="main-page">

        <!-- ======= About Section ======= -->
        <section class="about">
            <div class="container">

                <div class="section-title">
                    <h2>{% trans 'О нас' %}</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-eyeglasses"></i>
                            </div>
                            <h4 class="title">
                                {% trans 'Озоносфера' %}
                            </h4>
                            <p class="description">
                                {% trans 'Исследования в области физики озоносферы и актуальных проблем сохранения озонового слоя' %}
                            </p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-globe"></i>
                            </div>
                            <h4 class="title">
                                GAW
                            </h4>
                            <p class="description">
                                {% trans 'Проведение измерений в соответствии с программой Всемирной метеорологической организации Global Atmosphere Watch' %}
                            </p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="550">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-device-hdd"></i>
                            </div>
                            <h4 class="title">
                                {% trans 'Приборы' %}
                            </h4>
                            <p class="description">
                                {% trans 'Разработка и создание новой измерительной аппаратуры для мониторинга различных атмосферных показателей' %}
                            </p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="450">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-clipboard-pulse"></i>
                            </div>
                            <h4 class="title">
                                {% trans 'Мониторинг' %}
                            </h4>
                            <p class="description">
                                {% trans 'Оперативный мониторинг, анализ и прогноз состояния озоносферы и уровней приземного УФ-излучения' %}
                            </p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-person-lines-fill"></i>
                            </div>
                            <h4 class="title">
                                {% trans 'УФ и человек' %}
                            </h4>
                            <p class="description">
                                {% trans 'Исследование медицинских и биологических аспектов воздействия УФ - излучения и химических веществ, загрязняющих атмосферу' %}
                            </p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-book"></i>
                            </div>
                            <h4 class="title">
                                {% trans 'Обучение' %}
                            </h4>
                            <p class="description">
                                {% trans 'Обеспечение учебного процесса и повышение квалификации специалистов в области мониторинга озоносферы ' %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- ======= News Section ======= -->
        <section class="news section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>{% trans 'Новости центра' %}</h2>
                </div>

                <div id="carouselCenterNews" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">

                      {% for news_item in about_us_news %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="col-lg-12 col-sm-12 mb-5">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="{{ news_item.image_logo.url }}" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'blog-page-url' %}">{{ news_item.title }}</a></h5>
                                        <p class="card-text text-center">{{ news_item.subtitle }}</p>
                                        <div class="card-meta d-flex justify-content-between align-items-center">
                                            <div class="date">
                                                <i class="bi bi-clock"></i>
                                                <time>{{ news_item.published }}</time>
                                            </div>
                                            <div class="read-more">
                                                <a href="{% url 'blog-page-url' %}">{% trans 'Подробнее' %}</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}

                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCenterNews" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselCenterNews" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

            </div>

        </section>


        <section class="news">
            <div class="container">
                <div class="section-title">
                    <h2>{% trans 'Новости науки' %}</h2>
                </div>

                <div id="carouselScienceNews" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">

                      {% for news_item in science_news %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <div class="col-lg-12 col-sm-12 mb-5">
                                <div class="card">
                                    <div class="card-img">
                                        <img src="{{ news_item.image_logo.url }}" alt="...">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><a href="{% url 'blog-page-url' %}">{{ news_item.title }}</a></h5>
                                        <p class="card-text text-center">{{ news_item.subtitle }}</p>
                                        <div class="card-meta d-flex justify-content-between align-items-center">
                                            <div class="date">
                                                <i class="bi bi-clock"></i>
                                                <time>{{ news_item.published }}</time>
                                            </div>
                                            <div class="read-more">
                                                <a href="{% url 'blog-page-url' %}">{% trans 'Подробнее' %}</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                      {% endfor %}

                  </div>

                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselScienceNews" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselScienceNews" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>

            </div>

        </section>

        <!-- ======= Devices Section ======= -->
        <section class="devices">
            <div class="container">
                <div class="section-title">
                    <h2>{% trans 'Наши приборы' %}</h2>
                </div>
                <div class="row devices-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">

                    {% for device in devices %}
                        <div class="col-lg-4 col-md-6 devices-wrap filter-app">
                            <div class="devices-item d-flex flex-column justify-content-center">
                                <div class="device-img">
                                    <img src="{{ device.main_image.url }}" class="img-fluid" alt="">
                                </div>
                                <div class="devices-info">
                                    <h3 class="b-devices-title">{{ device.name }}</h3>
                                    <p class="b-devices-description">{{ device.subtitle }}</p>
                                    <a href="{% url 'devices-page-url' %}" class="b-devices-link">{% trans 'Подробнее' %}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>

    </main>

    <script src="{% static 'js/index/editDOM.js' %}"></script>

{% endblock %}
