{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<main id="main">
    <!-- ======= Observations Section ======= -->
    <section class="observations pb-0" id="observations">
        <div class="container">
            <div class="section-title">
                <h2>{% trans 'Наблюдения' %}</h2>
            </div>
            <div class="annual-info row d-flex justify-content-between align-items-center mb-3" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
				<blockquote class="annual-blockquote col-lg-6 col-sm-12">
					<p class="annual-text">
						{% trans 'Данные мониторинга общего содержания озона служат экспериментальной базой для оценки состояния озонового слоя и его трансформации в результате антропогенного воздействия и естественных процессов. Они используются для изучения степени влияния этих изменений на климат в глобальном и региональном масштабах, а также для прогноза изменения уровней и доз биологически активного солнечного ультрафиолетового излучения у поверхности Земли. Измерения озона проводится в 3 трёх точках Беларуси: Минск (ННИЦ МО БГУ), Гомель (Гомельский государственный университет им. Ф. Скорины.) и Нарочь (Нарочанская биологическая станция имени Г.Г. Винберга).Измерения ультрафиолетового индекса проводятся на Минской озонометрической станции, которая расположена в ННИЦ МО БГУ. Обновление показаний производится еженедельно. Ниже вы можете ознакомиться с ежегодными отчётами по наблюдениям.' %}
					</p>
				</blockquote>
				<div class="col-lg-5 col-sm-12">
					<img src="{% static 'img/observations/mapa.png' %}" alt="" class="img-fluid">
				</div>
			</div>
            <div class="annual-observ row  justify-content-betweeen mb-4" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">

				<div class="col-12">
					<table class="observ-table col-lg-7 animate__animated animate__fadeInDown">
					<thead class="">
						<tr>
							<th scope="col">{% trans 'Дата' %}</th>
							<th scope="col">{% trans 'ПСО, ppb' %}</th>
							<th scope="col">{% trans 'ОСО, ед. Добсона' %}</th>
							<th scope="col">{% trans 'УФ-индекс' %}</th>
							<th scope="col">{% trans 'УФ макс.' %}</th>
						</tr>
					</thead>
					<tbody class="">
						{% for item in last_minsk_observations %}
							<tr>
								<td class="observ-date" scope="row">{{ item.date }}</td>
								<td>{{ item.common_ozone_minsk }}</td>
								<td>{{ item.ground_ozone_minsk }}</td>
								<td class="observ-ufi">{{ item.uf_index_minsk }}</td>
								<td class="observ-ufi-max">{{ item.uf_max_minsk }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				</div>


<!--				<div class="annual-blockquote col-lg-6 col-sm-12">-->
<!--					<p class="annual-text">-->
<!--						{% trans 'Данные мониторинга общего содержания озона служат экспериментальной базой для оценки состояния озонового слоя и его трансформации в результате антропогенного воздействия и естественных процессов. Они используются для изучения степени влияния этих изменений на климат в глобальном и региональном масштабах, а также для прогноза изменения уровней и доз биологически активного солнечного ультрафиолетового излучения у поверхности Земли. Измерения озона проводится в 3 трёх точках Беларуси: Минск (ННИЦ МО БГУ), Гомель (Гомельский государственный университет им. Ф. Скорины.) и Нарочь (Нарочанская биологическая станция имени Г.Г. Винберга).Измерения ультрафиолетового индекса проводятся на Минской озонометрической станции, которая расположена в ННИЦ МО БГУ. Обновление показаний производится еженедельно. Ниже вы можете ознакомиться с ежегодными отчётами по наблюдениям.' %}-->
<!--					</p>-->
<!--				</div>-->

            </div>
        </div>
    </section>

</main>

<script src="{% static 'js/observ/editDOM.js' %}"></script>

{% endblock %}