{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<main id="main">
    <!-- ======= Observations Section ======= -->
    <section class="observations pb-0" id="observations">
        <div class="container">
            <div class="section-title">
                <h2>{% trans 'Наблюдения' %}</h2>
            </div>
            <div class="annual-info row d-flex justify-content-between align-items-center mb-3" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
				<blockquote class="annual-blockquote col-lg-6 col-sm-12">
					<p class="annual-text mb-2">
						{% trans 'Данные мониторинга общего содержания озона служат экспериментальной базой для оценки состояния озонового слоя' %}
						{% trans 'и его трансформации в результате антропогенного воздействия и естественных процессов' %}
						{% trans 'Они используются для изучения степени влияния этих изменений на климат в глобальном и региональном масштабах, ' %}
						{% trans 'а также для прогноза изменения уровней и доз биологически активного солнечного ультрафиолетового излучения у поверхности Земли.' %}
						<span>{% trans 'Измерения проводится в 3 трёх точках Беларуси в локальный полдень:' %}</span>
					</p>
					<ul>
						<li class="annual-text">г.Минск, ННИЦ МО БГУ (53.837 с.ш., 27.475 в.д.)</li>
						<li class="annual-text">г. Гомель, ГГУ имени Франциска Скорины (52.442 с.ш., 30.983 в.д.)</li>
						<li class="annual-text">г.п. Нарочь (54.907 с.ш., 26.6255 в.д.)</li>
					</ul>
				</blockquote>
				<div class="col-lg-5 col-sm-12">
					<img src="{% static 'img/observations/mapa.png' %}" alt="" class="img-fluid">
				</div>
			</div>
            <div class="annual-observ row  justify-content-betweeen mb-4" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">

				<div class="col-12">
					<table class="observ-table col-lg-7 animate__animated animate__fadeInDown">
						<thead class="">
							<tr>
								<th scope="col">{% trans 'Дата' %}</th>
								<th scope="col">{% trans 'ОСО, ед. Добсона' %}</th>
								<th scope="col">{% trans 'ПСО, ppb' %}</th>
								<th scope="col">{% trans 'УФ-индекс' %}</th>
								<th scope="col">{% trans 'УФ макс.' %}</th>
							</tr>
						</thead>
						<tbody class="">
							{% for item in last_minsk_observations %}
								<tr>
									<td class="observ-date" scope="row">{{ item.date }}</td>
									<td>{{ item.common_ozone_minsk }}</td>
									<td>{{ item.surface_ozone_minsk }}</td>
									<td class="observ-ufi">{{ item.uvi_minsk }}</td>
									<td class="observ-ufi-max">{{ item.uvi_max_minsk }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

            </div>
        </div>
    </section>

</main>

<script src="{% static 'js/observ/editDOM.js' %}"></script>

{% endblock %}
