{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
<main id="main">
    <!-- ======= Observations Section ======= -->
    <section class="observations pb-0" id="observations">
        <div class="container">
            <div class="section-title">
                <h2>{% trans 'Наблюдения' %}</h2>
            </div>

            <div class="annual-observ row d-flex mb-4 px-3" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">

				<div class="annual-info col-lg-7 col-sm-12">
					<blockquote class="annual-blockquote">
						<p class="param-description mb-0">
                            <strong>ОСО</strong> - общее содержание озона в вертикальном столбе
                            атмосферы над точкой наблюдения, измеряется по поглощению уф-б излучения
                            всем слоем атмосферы, измеряется в ЕД - единицах Добсона.
                            Это основная характеристика состояния озонового слоя.
                            Средние значения для наших широт 300 ЕД.
                            Озоновые аномалии - это сильные отклонения от средней климатической нормы.
                            Изменения могут быть и до 100 ЕД и до 500 ЕД.
						</p>
                        <p class="param-description  mb-0">
                            <strong>Surface O3 - "приземный озон"</strong> - концентрация озона в приземном слое атмосферы,
                            измеряется разными методами и приборами, измеряется в ppb (part per billion).
                            Озон (О3) - сильнейший окислитель и является загрязнителем воздуха (один из
                            основных компонентов, формирующих смог). Поэтому контролируется отдельно от ОСО.
                            Приземный озон - это часть ОСО. В приземном слое может содержаться до 10 ЕД О3.
						</p>
                        <p class="param-description  mb-0">
                            <strong>UVI - УФ индекс</strong> - это мощность дозы биоэффекта "эритема" в W / m2 , умноженная на 40 для большей наглядности.
                            Измеряется фотометрами. Мы приводим значения УФ индекса в районе местного полудня, в относительных единицах.
                            Это мера опасности УФ облученности 0-4 (малая) 4-6 (средняя) 7 и выше (большая) опасность.
						</p>
                        <p class="param-description  mb-0">
                            <strong>UV max</strong> - это максимальное значение UVI за период +/- 1час от местного полудня.
                            Измеряется в тех же единицах, что и UVI.
						</p>
					</blockquote>
				</div>

                <div class="form-body col-lg-5 col-sm-12 p-3" style="box-shadow: 0px 0px 10px 5px #f1f1f1;">
                    <h4 class="observ-subtitle mb-3">{% trans 'Загрузить данные наблюдений:' %}</h4>
                    <div class="form-group">
                        <form action="" method="get">
                            {{ form.as_p }}
                            <button type="submit" class="download-button">{% trans 'Загрузить' %}</button>
                        </form>
                    </div>
                </div>



            </div>
        </div>
    </section>

</main>

<script src="{% static 'js/observ/editDOM.js' %}"></script>

{% endblock %}