{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="main">
    <section class="about departments">
        <div class="container">
            <div class="section-title">
                <h2>Подразделения</h2>
            </div>

            <div class="row ">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="450">
                    <div class="icon-box icon-box-cyan departments__box">
                        <h4 class="departments__title">
                            Лаборатория физики атмосферы
                        </h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
                    <div class="icon-box icon-box-cyan departments__box">
                        <h4 class="departments__title">
                            Лаборатория <br>биофотоники
                        </h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="550">
                    <div class="icon-box icon-box-cyan departments__box">
                        <h4 class="departments__title">
                            Лаборатория оптических средств измерений
                        </h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
                    <div class="icon-box icon-box-cyan departments__box">
                        <h4 class="departments__title">
                            Лаборатория средств автоматизации
                        </h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                    <div class="icon-box icon-box-cyan departments__box">
                        <h4 class="departments__title">
                            Информационно-аналитический центр
                        </h4>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="700">
                    <div class="icon-box icon-box-cyan departments__box">
                        <h4 class="departments__title">
                            Озонометрическая станция № 354 GAW
                        </h4>
                    </div>
                </div>


            </div>

    </section>

    <section class="team">
        <div class="container">
            <div class="section-title">
                <h2>Научный коллектив</h2>
            </div>


            {% verbatim %}

            <div v-for="worker in workersList" class="row d-flex flex-column align-items-center" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                <div class="col-lg-8 col-md-12 member">
                    <div class="member-img col-3 ">
                        <a v-bind:href="worker.id"><img v-bind:src="worker.photo" class="img-fluid" alt=""></a>
                    </div>
                    <div class="member-info col-8">
                        <h4 class="member-name">
                            <a v-bind:href="worker.id" class="member-link">{{ worker.last_name }} {{ worker.first_name }} {{ worker.middle_name }}</a>
                        </h4>
                        <span>{{ worker.position }} </span>
                        <span>{{ worker.academic_rank }} </span>
                        <span class="member-info-email">{{ worker.mail }} </span>
                    </div>
                </div>
            {% endverbatim %}
            </div>

        </div>
    </section>

</main>

<script src="{% static 'js/staff/apiData.js' %}"></script>

<script src="{% static 'js/about/editDOM.js' %}"></script>


{% endblock %}

