{% extends 'base.html' %}
{% load static %}

{% block content %}

<main id="main">

    {% verbatim %}
    <section id="worker-info" class="pb-0">
        <div class="container">
            <div class="worker__worker worker" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="600">
                <div class="worker__img col-lg-2 col-md-3">
                    <img v-bind:src="workerInfo.photo" alt="">
                </div>
                <div class="worker__info col-lg-5 col-md-12">
                    <h2 class="worker__name">{{ workerInfo.last_name }} {{ workerInfo.first_name }} {{
                        workerInfo.middle_name }} </h2>
                    <div class="worker__info-item">
                        <span>{{ workerInfo.academic_rank }}</span>
                    </div>
                    <div class="worker__info-item mb-4">
                        <span>{{ workerInfo.position }}</span>
                    </div>
                    <div v-if="Object.keys(workerInfo.science_interests).length" class="worker__info-item mb-4">
                        <h6 class="science-interests__title">Научные интересы:</h6>
                        <span class="science-interests__item" v-for="(item,index) in workerInfo.science_interests">
                            <span
                                v-if="index == workerInfo.science_interests.length - 1">{{item.science_interest}}</span>
                            <span v-else>{{item.science_interest}}, </span>
                        </span>
                    </div>
                </div>
                <div class="worker__contacts col-lg-3 col-md-12">
                    <h4>
                        Контакты
                    </h4>
                    <div class="worker__info-item">
                        <span>{{ workerInfo.adress }}</span>
                    </div>
                    <div class="worker__info-item">
                        <span>{{ workerInfo.mail }}</span>
                    </div>
                    <div class="worker__info-item">
                        <span>{{ workerInfo.phone }}</span>
                    </div>

                    <div v-if="workerInfo.google_academy" class="worker__info-item">
                        <a v-bind:href="workerInfo.google_academy" target="_blank">
                            <span>Страница Google Академии</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="biography pb-0" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
        <div v-if="Object.keys(workerInfo.education).length" class="biography education-info">
            <div class="container">
                <div class="worker-list-title">
                    <div class="worker-title-spacing col-lg-2"></div>
                    <h3>Образование</h3>
                </div>
                <div class="biography__list">
                    <div v-for="item in workerInfo.education" class="biography__item">
                        <span class="biography__item-year col-lg-2 col-md-2">
                            {{item.study_finishing}}
                        </span>
                        <span class="biography__item-desciption col-lg-7 col-md-9">
                            {{item.study_description}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="Object.keys(workerInfo.career).length" class="biography career-info">
            <div class="container">
                <div class="worker-list-title">
                    <div class="worker-title-spacing col-lg-2"></div>
                    <h3 class="col-3">Карьера</h3>
                </div>
                <div class="biography__list">
                    <div v-for="item in workerInfo.career" class="biography__item">
                        <span class="biography__item-year col-lg-2 col-md-2">
                            {{item.career_period}}
                        </span>
                        <span class="biography__item-desciption col-lg-7 col-md-9">
                            {{item.career_description}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="Object.keys(workerInfo.rewards).length" class="biography rewards-info">
            <div class="container">
                <div class="worker-list-title">
                    <div class="worker-title-spacing col-lg-2"></div>
                    <h3 class="col-3">Награды</h3>
                </div>
                <div class="biography__list">
                    <div v-for="item in workerInfo.rewards" class="biography__item">
                        <span class="biography__item-year col-lg-2 col-md-2">
                            {{item.reward_year}}
                        </span>
                        <span class="biography__item-desciption col-lg-7 col-md-9">
                            {{item.reward_description}}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section v-if="Object.keys(workerInfo.publications).length" class="publications publications-info pt-5"
        data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
        <div class="container">
            <div class="section-title">
                <h2>Избранные публикации</h2>
            </div>
            <ol class="publications__list">
                <li v-for="item in workerInfo.publications" class="publications__item">
                    <p>{{item.publication_description}} <a v-bind:href="item.publication_link"
                            v-if="item.publication_link" target="_blank">[Ссылка]</a></p>
                </li>
            </ol>
        </div>
    </section>

    {% endverbatim %}


</main>

<script src="{% static 'js/staff/apiDataSinglePage.js' %}"></script>
<script src="{% static 'js/staff/editDOM.js' %}"></script>


{% endblock %}