
{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- ======= Main Section ======= -->
    <main id="main">

        <!-- ======= About Section ======= -->
        <section class="about">
            <div class="container">

                <div class="section-title">
                    <h2>Направления исследований</h2>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-eyeglasses"></i>
                            </div>
                            <h4 class="title">
                                Озоносфера
                            </h4>
                            <p class="description">
                                Исследования в области физики озоносферы и актуальных проблем сохранения озонового слоя
                            </p>
                        </div>
                    </div>


                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-globe"></i>
                            </div>
                            <h4 class="title">
                                GAW
                            </h4>
                            <p class="description">
                                Проведение измерений в соответствии с программой Всемирной метеорологической организации Global Atmosphere Watch
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="550">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-device-hdd"></i>
                            </div>
                            <h4 class="title">
                                Приборы
                            </h4>
                            <p class="description">
                                Разработка и создание новой измерительной аппаратуры для мониторинга различных атмосферных показателей
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="450">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-clipboard-pulse"></i>
                            </div>
                            <h4 class="title">
                                Мониторинг
                            </h4>
                            <p class="description">
                                Оперативный мониторинг, анализ и прогноз состояния озоносферы и уровней приземного УФ
                                -излучения
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-person-lines-fill"></i>
                            </div>
                            <h4 class="title">
                                УФ и человек
                            </h4>
                            <p class="description">
                                Исследование медицинских и биологических аспектов воздействия УФ - излучения и химических веществ, загрязняющих атмосферу
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
                        <div class="icon-box icon-box-cyan">
                            <div class="icon">
                                <i class="bi bi-book"></i>
                            </div>
                            <h4 class="title">
                                Обучение
                            </h4>
                            <p class="description">
                                Обеспечение учебного процесса и повышение квалификации специалистов в
                                области мониторинга озоносферы 
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </section>

        <!-- ======= News Section ======= -->
        <section class="news section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Последние новости</h2>
                </div>

                <div class="row" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">

                    {% for news_item in news %}
                        <div class="col-lg-6 col-sm-12 mb-5">
                            <div class="card">
                                <div class="card-img">
                                    <img src="{{ news_item.image_logo.url }}" alt="...">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><a href="{% url 'blog-page-url' %}">{{ news_item.title }}</a></h5>
                                    <p class="card-text text-center">{{ news_item.subtitle }}</p>
                                    <div class="card-meta d-flex justify-content-between align-items-center">
                                        <div class="date">
                                            <i class="bi bi-clock"></i>
                                            <time>{{ news_item.published }}</time>
                                        </div>
                                        <div class="read-more">
                                            <a href="{% url 'blog-page-url' %}">Подробнее</a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                </div>

            </div>
        </section>

    </main>

    <!-- <script src="{% static 'js/index/editDOM.js' %}"></script> -->

{% endblock %}
