
{% extends 'base.html' %}
{% load static %}


{% block content %}
    <!-- ======= Main Section ======= -->
<main id="main">
    <section class="about ">
        <div class="container">

            <div class="section-title">
                <h2>Направления исследований</h2>
            </div>
            
            <div class="history__body d-flex">
                <div class="hisory__abstracts col-lg-12">
                    <blockquote class="annual-blockquote">
                        <p class="history__abstract">
                            Учреждение Белорусского государственного университета Национальный научно-исследовательский центр мониторинга озоносферы; (ННИЦ МО БГУ) создано 14 июня 1997 года в соответствии с постановлением Совета Министров Республики Беларусь от 14.05.97 №484, приказом Министерства образования от 27.06.97 №353, приказом ректора Белгосуниверситета от 02.07.97 №573-Д.
                        </p>
                        <p class="history__abstract">
                            Основные задачи ННИЦ МО БГУ - мониторинг озонового слоя, приземной ультрафиолетовой радиации, других параметров атмосферы, выполнение научно-исследовательских работ по физике атмосферы и смежным вопросам. ННИЦ МО БГУ является организацией, ответственной за наблюдение стратосферного озонового слоя, измерение приземного уровня ультрафиолетового излучения и концентрации приземного озона на территории Беларуси. Наблюдения проводятся в соответствии с обязательствами, принятыми Республикой Беларусь в рамках Венской конвенции об охране озонового слоя.
                        </p>
                        <p class="history__abstract">
                            Утвержденное название ННИЦ МО БГУ на английском языке - National Ozone Monitoring Research and Education Center of the Belarusian State University. Сокращенные формы NOMREC, NOMREC BSU или BSU-NOMREC используются в качестве наименования озонового центра во Всемирном центре данных по озону и ультрафиолетовой радиации (World Ozone and Ultraviolet Data Center, WOUDC) и других международных организациях.
                        </p>
                     </blockquote>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon">
                            <i class="bi bi-eyeglasses"></i>
                        </div>
                        <h4 class="title">
                            Озоносфера
                        </h4>
                        <p class="description">
                            Исследования в области физики озоносферы и актуальных проблем сохранения озонового слоя
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon">
                            <i class="bi bi-globe"></i>
                        </div>
                        <h4 class="title">
                            GAW
                        </h4>
                        <p class="description">
                            Проведение измерений в соответствии с программой Всемирной метеорологической организации Global Atmosphere Watch
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="550">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon">
                            <i class="bi bi-device-hdd"></i>
                        </div>
                        <h4 class="title">
                            Приборы
                        </h4>
                        <p class="description">
                            Разработка и создание новой измерительной аппаратуры для мониторинга различных атмосферных показателей
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="450">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon">
                            <i class="bi bi-clipboard-pulse"></i>
                        </div>
                        <h4 class="title">
                            Мониторинг
                        </h4>
                        <p class="description">
                            Оперативный мониторинг, анализ и прогноз состояния озоносферы и уровней приземного УФ
                            -излучения
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="650">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon">
                            <i class="bi bi-person-lines-fill"></i>
                        </div>
                        <h4 class="title">
                            УФ и человек
                        </h4>
                        <p class="description">
                            Исследование медицинских и биологических аспектов воздействия УФ - излучения и химических веществ, загрязняющих атмосферу
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="750">
                    <div class="icon-box icon-box-cyan">
                        <div class="icon">
                            <i class="bi bi-book"></i>
                        </div>
                        <h4 class="title">
                            Обучение
                        </h4>
                        <p class="description">
                            Обеспечение учебного процесса и повышение квалификации специалистов в
                            области мониторинга озоносферы 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>

    <!-- <script src="{% static 'js/index/editDOM.js' %}"></script> -->

{% endblock %}

