/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 55px;
  opacity: 95%;
}
#header .logo img:hover {
  transition: 0.3s;
  opacity: 1;

  /* max-height: 57px; */
}


/* SEARCHBAR */
.search {
    margin: 20px;
}

.search > form {
    display: inline-block;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}

.search > form:after {
    content: "";
    background: white;
    width: 2px;
    height: 11px;
    position: absolute;
    top: 20px;
    right: 0px;
    transform: rotate(135deg);
}

.search  input {
    color: white;
    font-size: 15px;
    background: transparent;
    width: 22px;
    height: 22px;
    padding: 10px;
    border: solid 2px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}

.search  input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}

.search input:focus::placeholder {
    opacity: 1;
}

.search input:focus,
.search input:not(:placeholder-shown) {
    width: 220px;
}


.bad-vision {
    background-color: transparent;
    cursor: pointer;
    border: none;

}

.bad-vision  i {
    color: #fff;
}

.footer-list {
    padding-left: 0;

}

.footer-list li{
    font-size: 16px;
    color: #fff;
    list-style-type: none;
}

.language-switcher select {
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 10px;
    padding: 8px 0px;
    border: none;
    cursor: pointer;
}

.language-option {
    color: black;
    border-radius: 3px;
}


.footer-list a{
    color: #a2cce3;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to top, rgba(30, 67, 86, 0.3), rgba(47, 78, 94, 0.4)), url("../img/main_page/1_hero/atm2.jpg") center top no-repeat;  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

#hero .hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: -50px;
  left: 0;
  right: 0;
  height: 100%;
}

#hero h1 {
  color: #fff;
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: 400;
}

.b-page-subtitle {
  display: inline;
  animation-delay: 0.6s;
  color: #ffffff;
  font-size: 38px;
  font-weight: 300;
  text-align: center;
}

@media (max-width: 786px) {
    #hero h1 {
      font-size: 30px;
    }

    .b-page-subtitle {
      font-size: 30px;
    }
}

@media (max-width: 576px) {
    #hero h1 {
      font-size: 24px;
      font-weight: 300;
    }

    .b-page-subtitle {
      font-size: 24px;
    }
}

/*
@media (max-width: 1400px) {
  .news .card-img {
    flex: 0 1 auto;
  }
}
*/

.b-arrow {
  position: relative;
  bottom: 5%;
  left: 0;
  display: inline-block;
  height: 45px;
  width: 45px;
  border-style: solid;
  border-color: #fff;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
}

.b-arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.b-arrow-link {
  display: block;
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#main {
  margin: 80px 0;
}
#main.main-page {
  margin-top: 0;
}

.about .icon-box-cyan .icon i {
  color: rgb(104, 164, 196);
}

/*--------------------------------------------------------------
# News
--------------------------------------------------------------*/
.news .card {
  height: 100%;
  background-color: transparent;
  border: 0;
  padding: 0 30px;
}

.news .card-img {
  padding: 0px 0px 45% 0px;
  position: relative;
}

.news .card-img_blog {
   padding: 0px 0px 58% 0px;
}

.news .card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.news .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 100%;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 15px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: -50px;
  transition: 0.3s;
}

.news .card-body_blog {
    width: 92.5%;
}

.news .card-title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  color: #1e4356;
  transition: 0.3s;
}

.news .card-text {
  color: #5e5e5e;
  font-size: 17px;
}

.news .card-meta .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  transition: 0.3s;
}

.news .read-more a:hover {
  color: #68A4C4;
}

.news .card-meta .date {
  font-size: 14px;
  color: #1e4356;
}

.news .card-meta .news-tag {
  font-size: 15px;
  color: #1e4356;
}

@media (max-width: 1400px) {
  .news .card-img {
    flex: 0 1 auto;
  }
}

@media (max-width: 768px) {
    .news .card-meta .read-more a {
      font-size: 10px;
    }

    .news .card-meta .date {
      font-size: 10px;
    }
}

@media (max-width: 592px) {
  .news .card-body {
    margin-top: -20px;
  }
  .news .card-title {
    font-size: 14px;
    margin-bottom: 7px;
  }
  .news .card-text {
    font-size: 13px;
    margin-bottom: 7px;
  }
}
/*--------------------------------------------------------------
# Devices
--------------------------------------------------------------*/
.devices .devices-item {
    background: #1e4356;
    overflow: hidden;
    height: 275px;
    position: relative;
    border-radius: 4px;
    margin: 0 0 30px 0;
}

.device-img {
    overflow: hidden;
}

.devices .devices-item img {
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.devices .devices-item .devices-info {
    opacity: 0;
    text-align: center;
    padding: 10px 12px;
}


.b-devices-title {
    font-size: 22px;
    color: #fff;
    font-weight: 700;
    opacity: 1;
}

.b-devices-description {
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    opacity: 1;

}

.b-devices-link {
    position: relative;
    text-transform: uppercase;
    text-decoration: underline;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    transition: 0.3s;
}

.devices .devices-item:hover img {
    opacity: 0.2;
    transform: scale(1.1);
}

.devices .devices-item:hover .devices-info {
    opacity: 1;
}


/*==============================================================
# OBSERVATIONS.HTML
================================================================*/
/*--------------------------------------------------------------
# Annual
--------------------------------------------------------------*/
.annual-info {
  text-align: justify;
  font-style: italic;
}

.annual-list h3 {
  font-weight: 500;
  font-size: 19px;
  color: #464646;
}

.annual-link:not(:first-of-type) {
  padding-left: 6px;
  font-size: 17px;
}

.annual-blockquote {
  overflow: hidden;
  padding: 0 20px;
  position: relative;
}

.annual-text {
  color: #444;
  line-height: 1.5;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 17px;
}

.param-description {
  color: #444;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
}

.annual-text span {
  font-weight: 600;
}

blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #1e4356;
}

/*--------------------------------------------------------------
# Table
--------------------------------------------------------------*/
.my-custom-scrollbar {
  position: relative;
  max-height: 420px;
  overflow-y: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.observ-table {
  width: 100%;
  border: 0.5px solid #b9b9b9;
}
.observ-table thead {
  background: rgba(102, 153, 180, 0.8);
}

.observ-table td {
  padding: 8px;
  width: 11%;
  border-top: 0.5px solid #cacaca;
  border-bottom: 0.5px solid #cacaca;
  border-left: 0.5px solid #9c9c9c;
  border-right: 0.5px solid #9c9c9c;
  font-size: 17px;
  text-align: center;
}
.observ-table td:first-child {
  font-weight: 600;
}
.observ-table th {
  border: 0.5px solid #7e7e7e;
  padding: 10px;
  color: #313131;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.observ-cell_green {
    background: rgba(117, 255, 210, 0.7);
}

.observ-cell_yellow {
    background: rgba(237, 255, 153, 0.7);
}

.observ-cell_red {
    background: rgba(255, 15, 15, 0.47);
}

.download-text {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 0;
}

.download-button {
  display: inline-block;
  background-color: rgb(170, 213, 236);
  border-radius: 3px;
  padding: 3px 6px;
  border: solid 1px rgb(135, 181, 206);
  color: #363636;
  cursor: pointer;
}

@media (max-width: 992px) {
  .observ-table td {
    padding: 7px;
    font-size: 14px;
  }
  .observ-table th {
    padding: 7px;
    font-size: 14px;
  }
}
@media (max-width: 579px) {
  .observ-table td {
    padding: 5px;
    font-size: 12px;
  }
  .observ-table th {
    padding: 5px;
    font-size: 10px;
  }
}


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
    padding: 40px 0 20px 0;
}

.blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .entry .entry-title {
    font-size: 28px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
}

.blog .entry .entry-meta {
    color: #969696;
}

.blog .entry .entry-meta i {
    font-size: 16px;
    margin-right: 8px;
    line-height: 0;
    color: #72afce;

}

.blog .entry .entry-content p {
    line-height: 25px;
    font-size: 18px;
}

.entry-subtitle {
    font-size: 16px;
    font-style: italic;
    color: #181818;
}

.blog .entry .entry-img {
    padding: 0px 0px 58% 0px;
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
    position: relative;
}

.blog .entry .entry-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    box-shadow: 3px 2px 15px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}

.entry-attach {
    margin: 20px 0 10px;
}

.entry-attach__head {
    margin-bottom: 0;
}
/*--------------------------------------------------------------
# Documents
--------------------------------------------------------------*/
.documetns h3 {
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
}

.documetns ul {
    list-style: none;
    padding: 0;
}

.documetns ul li {
    padding-bottom: 10px;
}

.documetns ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #68A4C4;
}

.documetns p:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.departments__box {
    width: 100%;
}

.departments__title {
    width: 100%;
    margin-bottom: 0;
    color: #1e4356;
    font-weight: 300;
}

.member {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 3px 3px 10px #f3f3f3;
}

.member-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.member-name {
    text-align: end;
    line-height: 20px;
    font-size: 24px;
    font-weight: 400;
    color: #1e4356;
    margin-bottom: 15px;
}

.member-name a:hover {
    transition: 0.3s;
    color: #4a9cc5;
}

.member-info {
    text-align: end;

    font-style: italic;
    font-size: 16px;
    color: #5e5e5e;
    margin-bottom: 3px;
}

.member-info-email {
    color: #4d84a0;
}


.member-link{
    color: #27556d;
}

.member-img {
    margin: 0 8px;
    height: 210px;
}

.member-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}


/* ---------------------------------
Team-single
-------------------------------------*/

.worker {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding-bottom: 15px;
    box-shadow: 0 5px 2px -2px rgb(251, 251, 251);
}


.worker__img {
    margin: 0px 10px 10px 0px;
    height: 200px;
    width: 200px;
}

.worker__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.worker__name {
    color: #27556d;
    margin: 0px 0px 20px 0px;
}

.worker__info-item {
    margin-bottom: 8px;
}

.science-interests__title {
    margin-bottom: 0;
    font-size: 17px;
    font-style: italic;

}

.worker__contacts h4 {
    margin: 0px 0px 20px 0px;
    line-height: 40px;
}

.worker-list-title {
    display: flex;
}

.worker-title-spacing {
    margin-right: 20px;
}

.worker-list-title h3 {
    font-size: 22px;
    font-weight: 500;
    /* margin-bottom: 20px; */
    padding-bottom: 10px;
    color: #27556d;

    position: relative;
}

.biography__list {
    padding-bottom: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 2px -2px rgb(251, 251, 251);
}
.biography__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}
.biography__item-year {
    display: block;
    font-size: 20px;
    font-style: italic;
    margin-right: 20px;
    color: #26373f;
}

.biography__item-desciption {
    display: block;
    font-size: 18px;
    line-height: 22px;
}



/* ---------------------------------
About-single
-------------------------------------*/

.history__body {
    margin-bottom: 20px;

}

.history__abstract {
    font-size: 18px;
    font-style: italic;
    color: #383838;
}

/* ---------------------------------
Devices-single
-------------------------------------*/

.list-block__list {

    padding-bottom: 15px;
    margin-bottom: 20px;
    box-shadow: 0 5px 2px -2px rgb(251, 251, 251);
}
.list-block__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.list-block__item-desciption {
    display: block;
    font-size: 18px;
    line-height: 22px;
}

.device__img {
    margin: 0px 10px 10px 0px;
    height: 306px;
    width: 100%;
}

.device__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.form-body {
    /* padding: 15px; */
    border-radius: 5px;
}


/*--------------------------------------------------------------
# Annual reports
--------------------------------------------------------------*/
.reports__box {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.reports__title {
    width: 100%;
    margin-bottom: 0;
    color: #1e4356;
    font-size: 33px;
    font-weight: 300;
    justify-self: center;
}

.reports__button {

    transition: opacity 0.6s ease-out;
    opacity: 0;
    overflow: hidden;
    justify-self: flex-end;

}

.reports__box:hover {
    background: #f6fcff;
}

.reports__box:hover .reports__title {
    transition: 0.6s;
    opacity: 0.6;

}

.reports__box:hover .reports__button {
    opacity: 1;
}

.reports__url {
    display: block;
    width: 100%;
}


/*--------------------------------------------------------------
# Cookies popup
--------------------------------------------------------------*/
.cookies {
    position: fixed;
    z-index: 420;
    bottom: 15px;
    right: -410px;
    max-width: 400px;
    width: 100%;
    background-color: #d6f2fc;
    border-radius: 6px;
    border: 4px dashed #a8a8a8;
    padding: 15px 25px 22px;
    transition: right 0.7s ease;
}

.cookies__show {
    right: 20px;
}


.cookies__header {
    display: flex;
    align-items: center;
    column-gap: 15px;
    color: #0091c2;
}

.cookies__url {
    color: #0091c2;
}

.cookies__url:hover {
    text-decoration: underline;
}

.cookies__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cookies__button {
    width: calc(100% / 2 - 10px);
    padding: 6px 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    background-color: #0091c2;
    border: none;
    transition: all 0.3s ease;
}

.cookies__button_details {
    display: block;
    color: #fff;
    text-align: center;
    background-color: rgb(107, 181, 206);

}

.cookies__button_details:hover {
    color: #fff;
    background-color:  #337599;;
}

.cookies__button:hover {
    background-color:  #337599;;
}
